a {text-decoration: none; 
	color: #F90093;
	font-size: 1em;} 
h2 {color:  #00F9F1;
    font-weight: bold;}
h1 {text-align: center;
	color: #A000FF;
	font-size: 3em;
	font-family: Lucinda Handwriting, cursive;}
body {background-color: #000000;
		margin: 200PX;}
